<div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
    <img src="<%- p.image%>" class="card-img-top" style="max-height: 12rem;" alt="...">
    <div class="card-body">
        <h5 class="card-title"><%- p.name%></h5>
        <p class="card-text"><%- p.description%>
        <br>
            <br>
            PRECIO: <span class="badge bg-dark rounded-pill"><%- p.price%> USD </span>
        </p>

        <div class="d-grid gap-2 col-auto mx-auto">
            <% if (req.session.user) {  %>
                    <button onclick="carrito_add(<%- p.id %>)" class="btn btn-outline-dark">Añadir al carrito</button>
            <%} else {%>
                    <button onclick="" class="btn btn-outline-dark">Logueate para poder agregar al carrito</button>
            <% } %>
        </div>
    </div>
</div>
